`MemoryJWKSet.KeyRead` is O(n) but could be O(1)?

It appears the current implementation of `MemoryJWKSet.KeyRead` is O(n) as it linearly iterates over a slice of keys and checks the key ID on each key:

https://github.com/MicahParks/jwkset/blob/3835d6db7bad553e8bad7f505e5007b948bcbf07/storage.go#L77-L86

What's the reason the `MemoryJWKSet` type doesn't use a map to organize the keys? That would reduce loop complexity to O(1).

@jmehnle thank you for opening this issue.

This is intended behavior. The original behavior was to use a `map[string]jwkset.JWK`, but that limits the use case this project applies to.

This is because of [RFC 7517 section 4.5](https://www.rfc-editor.org/rfc/rfc7517#section-4.5):
> different keys within the JWK Set SHOULD use distinct "kid" values

Since the `kid` parameter is not guaranteed unique, the `map` based implementation would overwrite keys with matching `kid`.

> Use of this member is OPTIONAL

Since the `kid` is optional, keys without it wouldn't be fully supported. I know the `KeyRead` method takes a `kid` as an argument, but the `KeyReadAll` method does not and it uses the same underlying storage.

As for the performance consideration, I believe the Big O notation you provided is correct. However, since most JWK Sets have a relatively small number of keys, iterating through a slice to check string equality will have comparable performance to a `map`. It will likely perform better in JWK Sets with less than a dozen keys.

Closing due to inactivty

Bummer, I saw this just now. It turns out that there are some "bad" players out there. E.g., Atlassian's _Forge_ application framework involves a JWKS that has on the order of hundreds of keys in their [JWKS](https://developer.atlassian.com/platform/forge/remote/essentials/). O(n) is really unfortunate behavior in the face of this.

One way to solve this could be to store `kid`-ful keys in a map-like structure and `kid`-less keys in a separate, slice-like structure, and to query these structures accordingly, and in combination where that makes sense (`KeyReadAll`).

If that set only contains public keys, Arare you able to provide a copy? It may be useful to demonstrate that there's significant performance concerns, then assess options. 

Hot damn, I was going to give https://forge.cdn.prod.atlassian-dev.net/.well-known/jwks.json as the example, but it appears they very recently got their act together and reduced the keyset to just 6 keys. It used to be about 200(!) keys in one file. Well, nevermind, I don't have another good example right now.