feature request: add support for "use" (Public Key Use) Parameter

Add support for "use" (Public Key Use) Parameter, as specified in section 4.2 of RFC 7517

Thank you, @jwcranford for opening this issue.

Based on your PR, #58, I think this issue is about supporting the automatic extracting of the JWK `use` from a certificate's X.509 data in the CLI tool.

I should be able to review this tomorrow or Monday. 