How to support base64.URLEncoding?

Hi!

Why does `cmpBase64Int()` use `base64.RawURLEncoding`?

In our service landscape we use python services and I want to also start running go services. Our auth service issues a JWT and generates a JWK set. It does so using `base64.URLEncoding` for the X and Y of the `ECDSA.PublicKey`. This works fine with python and it's `base64.urlsafe_b64decode` since both are using standard url safe base64 encoding (padded). Python does not seem to support unpadded base64 strings, hence a lot of work arounds can be found ([for example](https://stackoverflow.com/questions/2941995/python-ignore-incorrect-padding-error-when-base64-decoding)).

Is there a way to override this behaviour?

Kind regards,
Allard

@snoepkast please see section 2 of the JWS RFC:

> Base64url Encoding
      Base64 encoding using the URL- and filename-safe character set
      defined in [Section 5 of RFC 4648](https://www.rfc-editor.org/rfc/rfc4648#section-5) [[RFC4648](https://www.rfc-editor.org/rfc/rfc4648)], with all trailing '='
      characters omitted (as permitted by [Section 3.2](https://www.rfc-editor.org/rfc/rfc7515#section-3.2)) and without the
      inclusion of any line breaks, whitespace, or other additional
      characters.  Note that the base64url encoding of the empty octet
      sequence is the empty string.  (See [Appendix C](https://www.rfc-editor.org/rfc/rfc7515#appendix-C) for notes on
      implementing base64url encoding without padding.)

https://www.rfc-editor.org/rfc/rfc7515#section-2

This is referenced in the JWK related RFCs, so it's required by the specification. 